<!-- CREATE A POST FORM -->
<form id="add-post-form">
  <div class="post-header">
    <h2>Add A New Post</h2>
  </div>
  <div class="post-content">
    <div>
      <label>Post Title</label>
      <textarea class="textarea" placeholder="title" id="post-title"></textarea>
      <label>Content</label>
      <textarea class="textarea" placeholder="text" id="post-text"></textarea>
    </div>
    <button class="btn-generic" type="submit">Create</button>
  </div>
</form>

<script src="/js/addPost.js"></script>